@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Dancing+Script:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color:black;
    margin: 0 0;
}
header {
    margin: 0 0;
}
h1 {
    color:mintcream;
    font-size: 50px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Dancing Script', cursive; 
}
.slogan {
    color:mintcream;
    text-align: center;
}
figure img:hover {
    filter: drop-shadow(0em 0em 0.2em white);
    transition: .60s;
}
nav {
    color:mintcream;
    font-family: 'Dancing Script', cursive; 
}
nav ul{
    list-style: none;
}
nav a {
    color: mintcream;
    text-decoration: none;
}
.auteursb {
    text-decoration: underline;
}
nav a:hover {
    color: rgb(155, 187, 219);
    transition: color .3s;
}
.banniere {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
figure {
    float:right;
    text-align:center;
    cursor: pointer;
    margin: 0 auto
}  
figcaption {
    line-height: 0;
}
main {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100vw;
}
main h2 {
    color: rgb(155, 187, 219);
    font-family: 'Dancing Script', cursive; 
    text-align: center;
    padding-bottom: 20px;
}
article {
    position:relative;
    background:mintcream;
    color: black;
    box-shadow: inset 0 0 1em lightblue, 0 0 2em rgb(155, 187, 219);
    border-radius: 10px;
    width: 30vw;
    border: 3px solid;
    border-color: rgb(155, 187, 219);
    margin: 0 auto;
    line-height: 150%;  
    height: fit-content;
    padding: 5px 5px 5px 15px;
}
.date {
    opacity: 0.7;
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
}
article video {
    display: flex;
    margin: 0 auto;
    width: 35%;
}
article p {
    overflow: hidden;
    text-align: center;
    font-size: 0.9em;
}
.lienpoemes {
    text-decoration: none;
    margin-left: 30%;
}
.lesdecouvrir {
    display: inline-block;
    vertical-align: -30%;
    font-family: 'Dancing Script', cursive; 
}
.lienpoemes:hover {
    filter: drop-shadow(0em 0em 0.2em blue);
    color: blue;
}
footer {
    overflow: hidden;
    width: 100%;
    background-image: url(images/footerimggoodinv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
}
footer p {
    background-clip: text;
    background:-webkit-linear-gradient(top, mintcream, rgb(0,51,102), black);
    -webkit-background-clip:text;
    color:transparent;
    line-height: 150%;
    font-size: 14px;
    padding: 0 30px 0 15px;
}
footer video {
    margin-left: 20px;
    float: inline-start;
    padding-inline: 15px;
}
footer h2 {
    color:mintcream;
    font-family: 'Dancing Script', cursive; 
}
footer h3 {
    color: mintcream;
    font-family: 'Dancing Script', cursive; 
}
.bottombar {
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
}
.bottombar-items {
    margin: 0 30px;
}
.bottombar button {
    background-color: black;
    opacity: 0.8;
    border-radius: 15px;
    padding: 1em 2em;
}
.bottombar button:hover{
    opacity: 1;
    transition: .3s;
}
.bottombar button a {
    text-decoration: none;
    font-size: 14px;
    color:mintcream;
    font-family: 'Dancing Script', cursive;
}
.bottombar button a:hover {
    color:rgb(155, 187, 219) ;
    transition: .5s;
}
.iconefb:hover {
    transform: scale(1.1);
    filter: drop-shadow(0em 0em 0.2em black);
    transition: .5s;
}
@media screen and (max-width:700px) {
    body {
        font-size: 1.2em;
    }
    figure img {
        height: 85px;
    }
    .banniere {
        width: 80vw;
        height: min-content;
        margin-bottom: 7vh;
        margin-top: 10vh;
    }
    h1 {
        font-size: 3em;
        overflow: hidden;
        margin-left: 30vw;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.2;
    }
    .slogan {
        margin-left: 15vw;
        margin-top: 10vh;
    }
    article video {
        width: 60%;
    }
    .bottombar-items {
        font-size: 0.5em;
    } 
    footer video {
        width: 180px;
}
@media screen and (max-width:500px) {
    figure img {
        height: 75px;
    }
    footer video {
        width: 150px;
    }
    .iconefb {
        width: 5em;
    }
}
@media screen and (max-width: 450px) {
    article {
        width: 40%;
    }
    .lienpoemes {
        margin-left: 10%;
    }
}
@media screen and (max-width: 300px) {
    article {
        width: 50%;
    }
    .lienpoemes {
        margin-left: 0;
    }
}
@media screen and (max-width: 200px) {
    article {
        width: 80%;
    }
}